@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
* {
  color: #fff;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  background-color: #000;
}

#header {
  font-size: 12px;
  font-weight: bold;
  align-self: start;
}
#header .logo-onebitcode {
  width: 240px;
  margin-left: -10px;
  margin-right: 40px;
}
#header #link-hover {
  transition: 500ms linear;
}
#header #link-hover:hover {
  color: #b9b9b9;
}

.arrow-down {
  width: 90px;
}

#button {
  padding: 15px 35px;
  border: 2px solid #fff;
}

section {
  max-width: 100vw;
  height: 100vh;
  display: grid;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#footer {
  background-color: #000;
  height: 15vh;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
#footer a {
  text-decoration: none;
  color: #fff;
  transition: 500ms linear;
}
#footer a:hover {
  color: #b9b9b9;
}
#footer .copy {
  color: #FF0043;
}

@media (max-width: 765px) {
  #header .logo-onebitcode {
    width: 200px;
  }
}
@media (max-width: 405px) {
  #header .logo-onebitcode {
    width: 180px;
  }
  #footer {
    font-size: 10px;
    padding: 10px;
  }
}
@media (max-width: 350px) {
  #header .logo-onebitcode {
    width: 150px;
    margin-right: 0px;
  }
}
.section-home-1 {
  background-image: url("../image/home/01.jpg");
}

.section-home-2 {
  background-image: url("../image/home/02.jpg");
}

.section-home-3 {
  background-image: url("../image/home/03.gif");
}

.section-home-4 {
  background-image: url("../image/home/04.jpg");
}

.title-home {
  width: 550px;
}

.medium-title-home {
  width: 650px;
}

@media (max-width: 765px) {
  .title-home, .medium-title-home {
    width: auto;
  }
}
.section-falcon9-1 {
  background-image: url("../image/falcon9/01.jpg");
}
.section-falcon9-1 .title-falcon9 {
  font-size: 5.6rem;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

.parameters .parameters-title {
  font-size: 5rem;
}
.parameters .parameters-subtitle {
  font-size: 1.2rem;
}

.section-falcon9-2 {
  background-image: url("../image/falcon9/02.jpg");
}

.section-falcon9-3 #container-overview {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section-falcon9-3 .overview-1 {
  background-image: url("../image/falcon9/03.jpg");
}
.section-falcon9-3 .overview-2 {
  background-image: url("../image/falcon9/04.jpg");
}
.section-falcon9-3 .overview-3 {
  background-image: url("../image/falcon9/05.jpg");
}
.section-falcon9-3 .overview-4 {
  background-image: url("../image/falcon9/06.jpg");
}
.section-falcon9-3 .overview-5 {
  background-image: url("../image/falcon9/07.jpg");
}
.section-falcon9-3 .container-teste {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.width-default {
  width: 50%;
  font-size: 20px;
}

.section-falcon9-4 {
  background-image: url("../image/falcon9/08.jpg");
}

.carousel-image-falcon9 {
  width: 100%;
  height: auto;
}

@media (max-width: 1024px) {
  .width-default {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
