.section-falcon9-1 {
  background-image: url("../image/falcon9/01.jpg");
}
.parameters {
  margin: 100px 0;
}
.section-falcon9-2 {
  background-image: url("../image/falcon9/02.jpg");
}
.section-falcon9-3 {
  #container-overview {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .overview-1 {
    background-image: url("../image/falcon9/03.jpg");
  }
  .overview-2 {
    background-image: url("../image/falcon9/04.jpg");
  }
  .overview-3 {
    background-image: url("../image/falcon9/05.jpg");
  }
  .overview-4 {
    background-image: url("../image/falcon9/06.jpg");
  }
  .overview-5 {
    background-image: url("../image/falcon9/07.jpg");
  }
  .container-teste {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
.section-falcon9-4 {
  background-image: url("../image/falcon9/08.jpg");
}
.carousel-image-falcon9 {
  width: 100%;
  height: auto;
}