.section-human-flight-1 {
  background-image: url('../image/human-flight/01.jpg');
}
.section-human-flight-2 {
  background-image: url('../image/human-flight/02.jpg');
}
.section-human-flight-3 {
  background-image: url('../image/human-flight/03.jpg');
}
.section-human-flight-4 {
  background-image: url('../image/human-flight/04.jpg');
}
.section-human-flight-5 {
  background-image: url('../image/human-flight/05.jpg');
}

.section-human-flight-1 {

  .title-human-flight {
    font-size: 7rem;
  }
  .subtitle-human-flight {
    margin-top: 20px;
    font-size: 2rem;
    font-weight: 300;
  }
}

.paragraph-description-human-flight {
  width: 800px;
  margin: auto;
  color: $table-item;
  font-weight: 400;
  font-size: 1.3rem;
}

.container-human-flight-right {
  width: 45%;
  justify-self: end;
}

.container-human-flight-left {
  width: 45%;
  margin-left: 5%;
}

.title-section {
  font-size: 3.5rem;
  font-weight: bold;
}
.subtitle-section {
  font-weight: 300;
  margin-bottom: 40px;
}

@media (max-width: 1200px) {
  .title-section {
    font-size: 3rem;
  }
}

@media (max-width: 1020px) {
  .section-human-flight-1 {

    .title-human-flight {
      font-size: 6rem;
    }
  }
  .paragraph-description-human-flight {
    width: auto;
  }
}

@media (max-width: 992px) {
  .title-section {
    font-size: 2.5rem;
  }
  .subtitle-section {
    width: 250px;
  }
}

@media (max-width: 850px) {
  .title-section {
    font-size: 2.3rem;
  }
}

@media (max-width: 767px) {
  .section-human-flight-1 {

    .title-human-flight {
      font-size: 5rem;
    }
  }
  .container-human-flight-right {
    width: auto;
    margin-right: 30px;
  }
  .container-human-flight-left {
    width: auto;
  }
}

@media (max-width: 550px) {
  .section-human-flight-1 {

    .title-human-flight {
      font-size: 4rem;
    }
  }
}