.section-1 {
    background-image: url("../image/home/01.jpg");
}
.section-2 {
    background-image: url("../image/home/02.jpg");
}
.section-3 {
    background-image: url("../image/home/03.gif");
}
.section-4 {
    background-image: url("../image/home/04.jpg");
}
.shortTitle {
  width: 550px;
  margin-bottom: -20px;
}
.mediumTitle {
  width: 650px;
  margin-bottom: -20px;
}


// Media Query
@media (max-width: 765px) {
  .shortTitle, .mediumTitle {
    width: auto;
    font-size: 30px;
  }
}