.section-home-1 {
    background-image: url("../image/home/01.jpg");
}
.section-home-2 {
    background-image: url("../image/home/02.jpg");
}
.section-home-3 {
    background-image: url("../image/home/03.gif");
}
.section-home-4 {
    background-image: url("../image/home/04.jpg");
}
.title-home {
  width: 550px;
}
.medium-title-home {
  width: 650px;
}

// Media Query
@media (max-width: 765px) {
  .title-home, .medium-title-home {
    width: auto;
  }
}